summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: "➡";
  color: rgb(255, 119, 0);
}

details[open] summary::before {
  content: "🅧";
  color: red;
}

.shipping {
  font-family: "Lato";
  font-size: 15px;
  font-weight: 600;
  color: rgba(223, 229, 223, 0.872);
}
