.checkout-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    padding: 30px;
    border: 2px solid black;
    background-color: bisque;
    width: 75%;
}

.checkout-page-form {
}

.checkout {
    min-height: 100vh;
    width: 100%;
    margin-bottom: 70px;
}

.checkout-item-img-name {
    display: flex;
    width: 100%;
    align-items: center;
}

.checkout-item-img-name h2 {
    font-size: large;
    font-weight: bold;
    padding: 25px;
}

.checkout-item img {
    height: 150px;
    width: 150px;
}

.quantity-price {
    padding: 25px;
}

.checkout-total {
    margin: 25px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.checkout-button-total {
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    margin: 20px;
    border: 2px solid gray;
    margin: 25px;
}

.checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;
}