.checkout-form {
    margin: 0 auto;
    padding: 20px;
    padding-left: 50px;
}

.checkout-form-section {
    margin-bottom: 25px;
    color: white;
    border-bottom: 1px solid black;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.checkout-form-last-section {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.checkout-form-section h2 {
    margin-top: 15px;
}

.MuiTextField-root {
    margin: 10px !important;
}

.MuiInputBase-root {
    background-color: white;
}

.Mui-focused {
    font-weight: bolder !important;
}
