.carousel {
  height: auto;
  max-height: 750px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel:last-child {
  display: none;
}

.carousel-img {
  height: auto;
  max-height: 750px;
  cursor: pointer;
}

.carousel-img img {
  height: auto;
  max-height: 750px;
}
