.product-list-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.product-list-button {
    display: flex;
    justify-content: center;
}

.product-search {
    background-color: #36454F;
    border: 2px solid black;
    color: white;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}