.footer {
    min-height: 50px;
    background-color: #FDF3E7;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.cart {
    margin-left: 5px;
    display: flex;
}

.cart-product-img {
    margin: 5px;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
    transform-style: preserve-3d;
    animation: spin 15s linear infinite;
}

.cart-header {
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
    margin-left: 10px;
}

.cart-svg {
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    -webkit-animation: dropdown-footer forwards 1s;
    -moz-animation: dropdown-footer forwards 1s;
    -o-animation: dropdown-footer forwards 1s;
}

.subtotal {
    display: flex;
    justify-content: flex-end;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product svg {
    color: red;
    cursor: pointer;
}

.cart-open {
    -webkit-animation: riseup forwards 1s;
    -moz-animation: riseup forwards 1s;
    -o-animation: riseup forwards 1s;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes dropdown-footer {
    from {
        height: 250px;
    }

    to {
        height: 50px;
    }
}

@keyframes riseup {
    from {
        height: 50px;
        opacity: 0;
    }

    to {
        height: 250px;
        opacity: 1;
    }
}