.select-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.admin {
    padding-bottom: 50px;
}

.admin-buttons {
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
}

.my-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.my-product-card {
    display: flex;
}